[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/vim-ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "vim/bundle/Nvim-R"]
	path = vim/bundle/Nvim-R
	url = https://github.com/jalvesaq/Nvim-R.git
[submodule "vim/plugin/nerdcommenter"]
	path = vim/plugin/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-pbcopy"]
	path = vim/bundle/vim-pbcopy
	url = git@github.com:ahw/vim-pbcopy.git
[submodule "vim/bundle/vim-yaml"]
	path = vim/bundle/vim-yaml
	url = git@github.com:stephpy/vim-yaml.git
[submodule "vim/bundle/table-mode"]
	path = vim/bundle/table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
